@page "/admin/addwarehouse"

@using Models
@using CosmicWarehouse.Web.Components
@using CosmicWarehouse.Domain.ViewModels

@inject IHttpClientFactory _clientFactory

<h1>@pageTitle</h1>

@if (!string.IsNullOrEmpty(errorString))
{
    <p>
        <div class="alert-danger">@errorString</div>
    </p>
}
else
{
    <div class="row" style="padding-bottom: 2rem">
        <div class="col-5">
            <WarehouseSelector OnWarehouseChange="OnWarehouseChange"></WarehouseSelector>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row row-cols-3 row-cols-md-2" style="padding-bottom: 2rem">
        @if (selectedWarehouse is not null)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@selectedWarehouse.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@(selectedWarehouse.Active ? "Active" : "Inactive") warehouse</h6>
                    <p class="card-text">@selectedWarehouse.Description</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private string pageTitle = "Add warehouse";
    private HttpClient client;

    private string errorString;

    private WarehouseVM selectedWarehouse;

    protected override void OnInitialized()
    {
        client = _clientFactory.CreateClient(DataSource.WAREHOUSE_API);
    }

    private void OnWarehouseChange(WarehouseVM warehouse)
    {
        selectedWarehouse = warehouse;
    }
}
